VITE_SITE_URL=https://larfranciscofranco.com.br
SITE_URL=https://larfranciscofranco.com.br

VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
